- var attrs = require('@/data/attributenames.json')
include ../mixins.pug

mixin attr-block(title, attrname)
  .is-flex.is-vcentered.is-paddingless.mb-1(class='attr-'+attrname)
    .col-4
      span(data-i18n=i18nize(title))= title
    .col-2
      input.input(name=attr(attrname) type='number' min='0' value='0')
    .col-1.text-center
      span +
    .col-2
      input.input(name=attr(`${attrname}-bonus`) type='number' min='0' value='0')
    .col-1.text-center
      span &#61;
    .col-2
      input.input(name=attr(`auto-${attrname}-total`) value='0' readonly tabindex='-1')

mixin attr-block-only-bonus(title, attrname)
  .is-flex.is-vcentered.is-paddingless.mb-1(class='attr-'+attrname)
    .col-4
      span(data-i18n=i18nize(title))= title
    .col-2
      input.input(name=attr(`auto-${attrname}`) type='number' value='0' readonly tabindex='-1')
    .col-1.text-center
      span +
    .col-2
      input.input(name=attr(`${attrname}-bonus`) type='number' min='0' value='0')
    .col-1.text-center
      span &#61;
    .col-2
      input.input(name=attr(`auto-${attrname}-total`) value='0' readonly tabindex='-1')      

mixin attr-block-no-bonus(title, attrname)
  .is-flex.is-vcentered.is-paddingless.mb-1(class='attr-'+attrname)
    .col-4
      span(data-i18n=i18nize(title))= title
    .col-2
      input.input(name=attr(attrname) type='number' min='0' value='0')&attributes(attributes)
    

.attributes
  .card
    .card-header
      h3(data-i18n=i18nize('attributes')) Attributes
    .card-body
      .is-flex.is-paddingless
        .col-4
          span(data-i18n=i18nize('Attribute')) Attribute
        .col-2 
          span(data-i18n=i18nize('Base')) Base
        .col-1
        .col-2 
          span(data-i18n=i18nize('Bonus')) Bonus
        .col-1
        .col-2 
          span(data-i18n=i18nize('Total')) Total
      +attr-block('Body', attrs.attributes.body)
      +attr-block('Agility', attrs.attributes.agility)
      +attr-block('Reaction', attrs.attributes.reaction)
      +attr-block('Strength', attrs.attributes.strength)
      +attr-block('Willpower', attrs.attributes.willpower)
      +attr-block('Logic', attrs.attributes.logic)
      +attr-block('Intuition', attrs.attributes.intuition)
      +attr-block('Charisma', attrs.attributes.charisma)
      +attr-block-no-bonus('Edge', attrs.attributes.edge)
      +attr-block-only-bonus('Unarmed', attrs.attributes.unarmed)
      +attr-block-no-bonus('Essence', attrs.attributes.essence)(value='6')
      +attr-block-no-bonus('Magic', attrs.attributes.magic)
      +attr-block-no-bonus('Resonance', attrs.attributes.resonance)

