- var attrs = require('@/data/attributenames.json')
include ../mixins.pug

.commlinks
  .card
    .card-header
      h3(data-i18n=i18nize('commlinks')) Commlinks
    .card-body
      .flex-table
        .flex-table-header
          .col-3(data-i18n=i18nize('name')) Name
          .col-1(data-i18n=i18nize('Rating')) Rating
          .col-1(data-i18n=i18nize('data')) Data
          .col-1(data-i18n=i18nize('Firewall')) Firewall
          .col-2(data-i18n=i18nize('programs')) Programs
          .col-3(data-i18n=i18nize('notes')) Notes
          .col-1(data-i18n=i18nize('carried')) Carried?
        .is-flex
          fieldset(class='repeating_commlinks')
            .row.is-vcentered
              .col-3
                input.input(name=attr(attrs.commlinks.name) type='text' value='')
              .col-1
                input.input(name=attr(attrs.commlinks.rating) type='number' value='0' min='0')
              .col-1
                input.input(name=attr(attrs.commlinks.data) type='number' value='0' min='0')
              .col-1
                input.input(name=attr(attrs.commlinks.firewall) type='number' value='0' min='0')
              .col-1
                input.input(name=attr(attrs.commlinks.slots) type='number' value='0' min='0')
              .col-1
              .col-3
                input.input(name=attr(attrs.commlinks.notes) value='')
              .col-1
                .checkbox
                  label
                    input(name=attr(attrs.commlinks.carried) type='checkbox' checked value='1')
                    span