- var attrs = require('@/data/attributenames.json')
include ../mixins.pug

.cyberdecks
  .card
    .card-header
      h3(data-i18n=i18nize('cyberdecks')) Cyberdecks
    .card-body
      .flex-table
        .flex-table-header
          .col-3(data-i18n=i18nize('name')) Name
          .col-1(data-i18n=i18nize('Rating')) Rating
          .col-1(data-i18n=i18nize('attack')) Attack
          .col-1(data-i18n=i18nize('sleaze')) Sleaze
          .col-1(data-i18n=i18nize('programs')) Programs
          .col-4(data-i18n=i18nize('notes')) Notes
          .col-1(data-i18n=i18nize('carried')) Carried?
        .is-flex
          fieldset(class='repeating_cyberdecks')
            .row.is-vcentered
              .col-3
                input.input(name=attr(attrs.cyberdecks.name) type='text' value='')
              .col-1
                input.input(name=attr(attrs.cyberdecks.rating) type='number' value='0')
              .col-1
                input.input(name=attr(attrs.cyberdecks.attack) type='number' value='0')
              .col-1
                input.input(name=attr(attrs.cyberdecks.sleaze) type='number' value='0')
              .col-1
                input.input(name=attr(attrs.cyberdecks.slots) type='number' value='0')
              .col-4
                input.input(name=attr(attrs.cyberdecks.notes) type='text' value='')
              .col-1
                .checkbox
                  label
                    input(name=attr(attrs.cyberdecks.carried) type='checkbox' checked value='1')
                    span