- var skills = require('@/data/skills.json')
.skills
  .card
    .card-header
      h3(data-i18n='skills-u') Skills
    .card-body
      .flex-table
        .flex-table-header
          .col-4(data-i18n='skill-u') Skill
          .col-3(data-i18n='rank-u') Rank
          .col-1(data-i18n='specialization-a') Spec?
          .col-4(data-i18n='notes-u') Notes
        .is-flex
          fieldset(class='repeating_skills')
            .row.is-vcentered
              .col-4
                select.input(name='attr_name')
                  each skill in skills
                    option(value=skill.name data-i18n=skill.name+'-u')= skill.display
              .col-3
                input.input(name='attr_rank' type='number' min='0' value='0')
              .col-1
                .checkbox
                  label
                    input(name='attr_hasspec' type='checkbox' value='1')
                    span
              .col-4
                input.input(name='attr_notes' type='text')
              input.is-hidden(type='checkbox' name='attr_hasspec' value='1' readonly)
              .col-6.light-bg
                label.is-flex.is-vcentered
                  span.is-half(data-i18n='specialization-u') Specialization
                  span.is-half
                    select.input(name='attr_specialization')
                      option(value='') None
                      option Other
                      each skill in skills
                        optgroup(data-i18n=skill.name='-u' label=skill.display)
                          each spec in skill.specializations
                            option= spec
              .col-6.light-bg
                label.is-flex.is-vcentered
                  span.is-half(data-i18n='expertise-u') Expertise
                  span.is-half
                    select.input(name='attr_expertise')
                      option(value='') None
                      option Other
                      each skill in skills
                        optgroup(data-i18n=skill.name='-u' label=skill.display)
                          each spec in skill.specializations
                            option= spec